.brelok-order {
  font-size: 2em;
  font-weight: bold;
}

.content-component {
  margin: 1em 0;
  border: 1px dotted #1d2124;
  background-color: #eee;
}

.face-image {
  width: 10em;
}

.dropdown-menu > a:hover {
  background-color: #1d68a7;
}

.front-content-type > div, .back-content-type > div {
  width: 100%;
}

.front-content-type, .back-content-type {
  width: 100%;
  margin-bottom: 0.5em;
}

.content-sub-selector {
  width: 100%;
}

.content-sub-selector div.dropdown-menu {
  max-height: 20em;
  overflow: auto;
}

.front-content-preview, .back-content-preview {
  margin: 1em 1em;
  text-align: center;
}

.front-content-preview > div {
  display: inline;
  width: 51.58mm;
  height: 10.8mm;
  overflow: hidden;
  text-align: center;
}

.number-preview {
  width: 51.58mm;
  height: 10.8mm;
  border: 1px dashed #1b1e21;
  display: inline-flex;
  background-color: white;
  font-family: EuroPlate;
  text-align: left;
  font-size: 7mm;
  position: relative;
}

.land-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.1em 0 0.1em 0.2em;
}

.country-img {
  height: 40px;
}

.land-img, .plaque-img {
  width: 16px;
  height: 16px;
}

.plaque-img {
  margin-top: auto;
}

.group1 {
  margin-left: 0.2em;
}

.group2 {
  margin-left: 0.2em;
}

.group3 {
  margin-left: 0.2em;
}

.number-inputs input {
  width: 4em;
}

.number-inputs {
  margin: 0 0 1em 0;
}

.front-side-preview, .front-content-preview div > img, .back-content-preview > img {
  width: 51.58mm;
  height: 10.8mm;
  max-width: 51.58mm;
  max-height: 10.8mm;
  border: 1px dashed #1b1e21;
  margin: 0;
  padding: 0.5em;
}

.front-side-preview {
  width: 51.58mm;
  height: 10.8mm;
  overflow: hidden;
  background-color: white;
}

.face-content-size > input {
  width: 80%;
}



//-------------- Fonts ----------------------------
@font-face {
  font-family: 'EuroPlate';
  src: url('/fonts/EuroPlate.ttf') format('truetype');
}

@font-face {
  font-family: 'Homoarak';
  src: url('/fonts/HOMOARAK.ttf') format('truetype');
}

@font-face {
  font-family: 'BadaboomBB_Reg';
  src: url('/fonts/BadaboomBB_Reg.ttf') format('truetype');
}

@font-face {
  font-family: 'CANDY___';
  src: url('/fonts/CANDY___.ttf') format('truetype');
}

@font-face {
  font-family: 'CATHSGBR';
  src: url('/fonts/CATHSGBR.ttf') format('truetype');
}

@font-face {
  font-family: 'PORKH___';
  src: url('/fonts/PORKH___.ttf') format('truetype');
}

@font-face {
  font-family: 'SaucerBB';
  src: url('/fonts/SaucerBB.ttf') format('truetype');
}

@font-face {
  font-family: 'Super Webcomic Bros Bold Italic';
  src: url('/fonts/Super Webcomic Bros Bold Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Super Webcomic Bros Bold';
  src: url('/fonts/Super Webcomic Bros. Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Super Webcomic Bros';
  src: url('/fonts/Super Webcomic Bros.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLatin-Black';
  src: url('/fonts/LatoLatin-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'ALBA';
  src: url('/fonts/ALBA.ttf') format('truetype');
}

@font-face {
  font-family: 'ALBAM';
  src: url('/fonts/ALBAM.ttf') format('truetype');
}

@font-face {
  font-family: 'ALBAS';
  src: url('/fonts/ALBAS.ttf') format('truetype');
}

