<template>
    <div class="container">

        <preview-button :brelokList="breloks">Preview</preview-button>

        <div v-for="(i, n) in brelokOrders">
            <content-component
                :order="n"
                :initialFlagNames="initialFlagNames"
                :initialAutoBrandImages="initialAutoBrandImages"
                :initialOtherImages="initialOtherImages"
                :initialTypes="initialTypes"
                :initialCountries="initialCountries"
                :initialLands="initialLands"
                :initialPlaques="initialPlaques"
                :initial-fonts="initialFonts">
            </content-component>
        </div>

        <preview-button :brelokList="breloks">Preview</preview-button>

    </div>
</template>

<script>
    import PreviewButton from './PreviewButton';

    export default {
        props: [
            'initialTypes',
            'initialFlagNames',
            'initialAutoBrandImages',
            'initialOtherImages',
            'initialFonts',
            'initialCountries',
            'initialLands',
            'initialPlaques'
        ],

        components: {
            'preview-button': PreviewButton
        },

        mounted() {
            this.$on('brelok-updated', this.updateBrelokList);
        },

        data() {
            return {
                breloks: []
            };
        },

        computed: {
            brelokOrders: () => {
                return new Array(10);
            }
        },

        methods: {
            updateBrelokList(brelokData){
                this.breloks[brelokData.order] = JSON.parse(JSON.stringify(brelokData));
            }
        }
    }
</script>