<template>
    <div class="container content-component">
        <div class="row">
            <div class="col-lg-4 brelok-order">Brelok: {{order+1}}</div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <b-dropdown class="front-content-type" :text="currentFrontType">
                    <b-dropdown-item
                            v-for="typeKey in contentTypeKeys"
                            class="front-content-type"
                            v-text="contentTypes[typeKey]"
                            v-bind:key="typeKey"
                            @click="contentSelected(typeKey)">
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>

        <image-on-side v-show="showFrontSubContentSelector === 'flags'"
                       dropdownLabel="Flags"
                       :imageSelected="imageSelected"
                       imageType="flags"
                       view="Front"
                       :initialImageFiles="initialFlagNames">
        </image-on-side>

        <image-on-side v-show="showFrontSubContentSelector === 'autoBrands'"
                       dropdownLabel="Autobrands"
                       :imageSelected="imageSelected"
                       imageType="autoBrands"
                       view="Front"
                       :initialImageFiles="initialAutoBrandImages">
        </image-on-side>

        <image-on-side v-show="showFrontSubContentSelector === 'otherImages'"
                       dropdownLabel="Other Images"
                       :imageSelected="imageSelected"
                       imageType="otherImages"
                       view="Front"
                       :initialImageFiles="initialOtherImages">
        </image-on-side>

        <div class="row" v-show="showFrontSubContentSelector === 'text'">
            <div class="col-lg-12">
                <b-dropdown class="content-sub-selector" text="Text">
                    <b-dropdown-item v-for="font in availableFonts" :key="font">
                        <span
                            class="font-name"
                            @click="fontSelected(font)"
                            v-text="font"></span>
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>

        <div class="row" v-show="showFrontSubContentSelector === 'number'">
            <div class="col-lg-12">
                <b-dropdown class="content-sub-selector" text="Number">
                    <b-dropdown-item>
                        <span>Number</span>
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>

        <div class="row" v-show="showFrontSubContentSelector === 'text'">
            <div class="col-lg-3 offset-lg-4">
                <input type="text"
                       v-model="currentFrontText" />
            </div>

            <div class="col-lg-2 face-content-size">
                mm:<input type="text"
                        @keyup="updateFaceContent('Front')"
                        v-model="currentFrontFontSize" />
            </div>
        </div>

        <preview-component
            :numberChanged="numberChanged"
            :showFrontSubContentSelector="showFrontSubContentSelector"
            :showBackSubContentSelector="showBackSubContentSelector"
            :currentFrontText="currentFrontText"
            :currentFrontTextStyle="currentFrontTextStyle"
            :currentFrontContent="currentFrontContent"
            :currentBackText="currentBackText"
            :currentBackTextStyle="currentBackTextStyle"
            :initialCountries="initialCountries"
            :initialLands="initialLands"
            :initialPlaques="initialPlaques"
            :currentBackContent="currentBackContent">
        </preview-component>

        <div class="row">
            <div class="col-lg-12">
                <b-dropdown class="back-content-type" :text="currentBackType">
                    <b-dropdown-item
                            v-for="typeKey in contentTypeKeys"
                            class="front-content-type"
                            v-text="contentTypes[typeKey]"
                            v-bind:key="typeKey"
                            @click="contentSelected(typeKey, 'Back')">
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>

        <image-on-side v-show="showBackSubContentSelector === 'flags'"
                       dropdownLabel="Flags"
                       :imageSelected="imageSelected"
                       imageType="flags"
                       view="Back"
                       :initialImageFiles="initialFlagNames">
        </image-on-side>

        <image-on-side v-show="showBackSubContentSelector === 'autoBrands'"
                       dropdownLabel="Autobrands"
                       :imageSelected="imageSelected"
                       imageType="autoBrands"
                       view="Back"
                       :initialImageFiles="initialAutoBrandImages">
        </image-on-side>

        <image-on-side v-show="showBackSubContentSelector === 'otherImages'"
                       dropdownLabel="Other Images"
                       :imageSelected="imageSelected"
                       imageType="otherImages"
                       view="Back"
                       :initialImageFiles="initialOtherImages">
        </image-on-side>

        <div class="row" v-show="showBackSubContentSelector === 'text'">
            <div class="col-lg-12">
                <b-dropdown class="content-sub-selector" text="Text">
                    <b-dropdown-item v-for="font in availableFonts" :key="font">
                        <span
                                class="font-name"
                                @click="fontSelected(font, 'Back')"
                                v-text="font"></span>
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>

        <div class="row" v-show="showBackSubContentSelector === 'text'">
            <div class="col-lg-3 offset-lg-4">
                <input
                        type="text"
                        v-model="currentBackText" />
            </div>

            <div class="col-lg-2 face-content-size">
                mm:<input
                    type="text"
                    @keyup="updateFaceContent('Back')"
                    v-model="currentBackFontSize" />
            </div>
        </div>

    </div>
</template>

<script>
export default {
    created() {
        this.contentTypes = JSON.parse(this.initialTypes);
        this.contentTypeKeys = Object.keys(JSON.parse(this.initialTypes));

        this.autoBrandFiles = JSON.parse(this.initialAutoBrandImages);
        this.otherImageFiles = JSON.parse(this.initialOtherImages);
        this.availableFonts = JSON.parse(this.initialFonts);
    },

    props: [
        'order',
        'initialTypes',
        'initialFlagNames',
        'initialAutoBrandImages',
        'initialOtherImages',
        'initialFonts',
        'initialCountries',
        'initialLands',
        'initialPlaques'
    ],

    mounted() {},

    data() {
        return {
            currentFrontType: "Front Content Type",
            currentBackType: "Back Content Type",

            contentTypeKeys: [],
            contentTypes: [],

            showFrontSubContentSelector: '',
            showBackSubContentSelector: '',

            imageFiles: [],
            currentFrontFlag: 'Flags',

            autoBrandFiles: [],
            currentFrontAutoBrand: 'Auto Brands',

            otherImageFiles: [],
            currentFrontOtherImage: 'Other Images',

            currentFrontContent: '',
            currentBackContent: '',

            availableFonts: [],

            currentFrontText: 'Text',
            currentBackText: 'Text',

            currentFrontFontSize: 6,
            currentFrontFont: '',
            currentFrontTextStyle: '',

            currentBackFontSize: 6,
            currentBackFont: '',
            currentBackTextStyle: '',

            brelokData: {
                order: parseInt(this.order, 10),
                dataFront: {},
                dataBack: {}
            }
        };
    },

    watch: {
        currentFrontText: function(val) {
            this.brelokData['dataFront']['text'] = val;
            this.brelokUpdated();
        },

        currentBackText: function(val) {
            this.brelokData['dataBack']['text'] = val;
            this.brelokUpdated();
        }
    },

    methods: {
        contentSelected(contentType, view="Front") {
            this[`show${view}SubContentSelector`] = contentType;
            this.brelokData[`data${view}`] = {};
            this.brelokData[`data${view}`]['type'] = contentType;

            if (contentType === 'text') {
                this.updateFaceContent(view);
            }

            this.brelokUpdated();
        },

        fontSelected(font, view="Front") {
            this[`current${view}Font`] = font.split('.')[0];

            this.updateFaceContent(view);
        },

        updateFaceContent(view="Front") {
            this[`current${view}TextStyle`] =
                'font-size: ' + this[`current${view}FontSize`] + 'mm;'
                + 'font-family: ' + this[`current${view}Font`] + ';';

            this.brelokData[`data${view}`]['text'] = this[`current${view}Text`];
            this.brelokData[`data${view}`]['style'] = this[`current${view}TextStyle`];

            this.brelokUpdated();
        },

        numberChanged(newNumber, view="Front") {
            this.brelokData[`data${view}`]['data'] = newNumber;

            this.brelokUpdated();
        },

        imageSelected(imageFile, view="Front") {
            const subPath = this.brelokData[`data${view}`].type;
            const imgPath = `/images/${subPath}/${imageFile}`;

            this[`current${view}Content`] = imgPath;
            this.brelokData[`data${view}`]['image'] = imgPath;

            this.brelokUpdated();
        },

        brelokUpdated() {
            this.$parent.$emit('brelok-updated', this.brelokData);
        }
    }
}
</script>
