<template>
    <div class="row">
        <div class="col-lg-12">
            <b-dropdown class="content-sub-selector" :text="dropdownLabel">
                <b-dropdown-item v-for="image in imageFiles" v-bind:key="image">
                    <a class="dropdown-item" href="#">
                        <img class="face-image"
                             :alt="image"
                             @click="imageSelected(image, view)"
                             :src="'/images/' + imageType + '/'+image" />
                    </a>
                </b-dropdown-item>
            </b-dropdown>
        </div>
    </div>
</template>

<script>
    export default {
        created() {
            this.imageFiles = JSON.parse(this.initialImageFiles);
        },

        props: [
            'dropdownLabel',
            'initialImageFiles',
            'imageSelected',
            'imageType',
            'view'
        ],

        data() {
            return {
                imageFiles: []
            };
        }
    }
</script>