<template>
    <div>
        <div class="row number-inputs">
            <div class="col-lg-3">
                <input type="text" v-model="group1" @keyup="updateBrelokData" />
                <input type="text" v-model="group2" @keyup="updateBrelokData" />
                <input type="text" v-model="group3" @keyup="updateBrelokData"/>
            </div>

            <div class="col-lg-2">
                <b-dropdown :text="countryName">
                    <b-dropdown-item
                            v-for="(url, country) in countries"
                            v-text="country"
                            v-bind:key="country"
                            @click="countrySelected(country, url)">
                    </b-dropdown-item>
                </b-dropdown>
            </div>

            <div class="col-lg-3" v-show="countryName === 'germany'">
                <b-dropdown :text="landName">
                    <b-dropdown-item
                            v-for="(url, land) in lands"
                            v-text="land"
                            v-bind:key="land"
                            @click="landSelected(land, url)">
                    </b-dropdown-item>
                </b-dropdown>
            </div>

            <div class="col-lg-2" v-show="countryName === 'germany'">
                <b-dropdown :text="plaqueName">
                    <b-dropdown-item
                            v-for="(url, plaque) in plaques"
                            v-text="plaque"
                            v-bind:key="plaque"
                            @click="plaqueSelected(plaque, url)">
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>

        <div class="number-preview">
            <span class="country-img-container">
                <img class="country-img" :src="countryUrl"/>
            </span>

            <span class="group1" v-text="group1"></span>

            <span class="land-img-container">
                <img class="plaque-img" :src="plaqueUrl">
                <img class="land-img" :src="landUrl" v-show="showLand">
            </span>
            <span class="group2" v-text="group2"></span>
            <span class="group3" v-text="group3"></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NumberOption",

        props: [
            'numberChanged',
            'view',
            'initialCountries',
            'initialLands',
            'initialPlaques'
        ],

        created() {
            this.countries = JSON.parse(this.initialCountries);
            this.lands = JSON.parse(this.initialLands);
            this.plaques = JSON.parse(this.initialPlaques);
        },

        data() {
            return {
                countries: [],
                lands: [],
                plaques: [],
                currentCountry: {
                    name: 'Country',
                    url: ''
                },
                currentLand: {
                    name: 'Select Land',
                    url: ''
                },
                currentPlaque: {
                    name: 'Select Plaque',
                    url: ''
                },
                showLand: false,
                group1: '',
                group2: '',
                group3: ''
            }
        },

        computed: {
            countryUrl() {
                return this.currentCountry.url;
            },

            countryName() {
                return this.currentCountry.name;
            },

            landName() {
                return this.currentLand.name;
            },

            landUrl() {
                return this.currentLand.url;
            },
            plaqueName() {
                return this.currentPlaque.name;
            },

            plaqueUrl() {
                return this.currentPlaque.url;
            }
        },

        methods: {
            updateBrelokData() {
                let numberData = {
                    group1: this.group1,
                    group2: this.group2,
                    group3: this.group3,
                    country: this.currentCountry,
                    land: this.currentLand,
                    plaque: this.currentPlaque
                };

                this.numberChanged(numberData, this.view)
            },

            countrySelected(name, url) {
                this.currentCountry.name = name;
                this.currentCountry.url = url;

                if (name !== 'germany') {
                    this.showLand = false;
                    this.currentLand.url = '';
                } else {
                    this.showLand = true;
                }

                this.updateBrelokData();
            },

            landSelected(name, url) {
                this.currentLand.name = name;
                this.currentLand.url = url;

                this.updateBrelokData();
            },

            plaqueSelected(name, url) {
                this.currentPlaque.name = name;
                this.currentPlaque.url = url;

                this.updateBrelokData();
            }
        }
    }
</script>
