<template>
    <div>
        <a
                class="preview-url"
                @click.prevent="openPreview"
                target="_blank">
            <button><slot></slot></button>
        </a>
    </div>
</template>

<script>
    export default {
        name: "PreviewButton",

        props: [
            'brelokList'
        ],

        created() {
            this.breloks = this.brelokList;
        },

        data() {
            return {
                breloks: []
            };
        },

        methods: {
            openPreview() {
                const brelokList = JSON.parse(JSON.stringify(this.breloks));
                const previewUrl = encodeURI(JSON.stringify(brelokList));

                window.open(`/preview-pdf?brelok_list=${previewUrl}`);
            }
        }
    }
</script>

<style scoped>

</style>