<template>
    <div>
        <div class="row">
            <div class="col-lg-12 front-content-preview">
                <div v-if="showFrontSubContentSelector === 'text'">
                    <input disabled
                           :value="currentFrontText"
                           :style="currentFrontTextStyle"
                           class="front-side-preview" />
                </div>

                <div v-else-if="showFrontSubContentSelector === 'number'">
                    <number-option
                        view="Front"
                        :initialCountries="initialCountries"
                        :initialLands="initialLands"
                        :initialPlaques="initialPlaques"
                        :numberChanged="numberChanged"></number-option>
                </div>

                <div v-else>
                    <img :src="currentFrontContent" :alt="currentFrontContent" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 front-content-preview">
                <div v-if="showBackSubContentSelector === 'text'">
                    <input disabled
                           :value="currentBackText"
                           :style="currentBackTextStyle"
                           class="front-side-preview" />
                </div>

                <div v-else-if="showBackSubContentSelector === 'number'">
                    <number-option
                        view="Back"
                        :initialCountries="initialCountries"
                        :initialLands="initialLands"
                        :initialPlaques="initialPlaques"
                        :numberChanged="numberChanged"></number-option>
                </div>

                <div v-else>
                    <img :src="currentBackContent" :alt="currentBackContent" />
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "PreviewComponent",

        props: [
            'numberChanged',
            "showFrontSubContentSelector",
            "showBackSubContentSelector",
            'currentFrontText',
            'currentFrontTextStyle',
            'currentFrontContent',
            'currentBackText',
            'currentBackTextStyle',
            'currentBackContent',
            'initialCountries',
            'initialLands',
            'initialPlaques'
        ],

        data() {
            return {};
        }
    }
</script>
